@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

.react-datepicker__header {
    background-color: #fff;
    border: none;
}

.leaflet-container {
    height: 500px;
}

@media (max-width: 767.99px) {
    .leaflet-container {
        height: 200px;
    }
}